body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    cursor: pointer;
    
}


.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-shadow: 0 4px 8px grey;
    
}

.navbar > img{
    animation: rotate 20s infinite linear;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.main-container{
    margin: 20px;
}

.entry-container > button{
    background-color: black;
    color: antiquewhite;
}




.generate-container{
    background-color: rgba(196, 193, 66, 0.815);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.generate-container > button{
    background-color: rgb(129, 40, 40);
    color: antiquewhite;
    height: 40px;
    margin-top: 25px;
    border-radius: 10px;
    border: none;

}