body {
  margin: 0;
  font-family: Cinzel, Helvetica, sans-serif;
 background-color: white;
}

button {
  cursor: pointer;
  font-family: Dancing script, Helvetica, sans-serif;
  font-weight: 700;
  font-size: large;
}

header {
  background-color: rgb(243, 243, 243);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: 0 2px 4px grey;
}

.navbar > span{
  font-family: Cinzel, Helvetica, sans-serif;
  font-weight: bold;
}


.main-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 70px;
}



.main-container ol > li {
  margin-bottom: 5px;

}

.main-container ol > li > button {
  margin-left: 35px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(129, 40, 40);
  color: antiquewhite;
}


.main-container ol > li > span {
   border: 1px solid gainsboro;
   width: 2px;
   margin-left: 30px;
}

.main-container > section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.entry-container{
  width: min-content;
}

.entry-container > label > input {
  width: auto;
  height: 30px;
  border-radius: 3px;
  font-size: large;
}

.entry-container > button {
  margin-top: 5px;
  height:30px;
  width: 100%;
  border-radius: 5px;
  background-color: black;
  color: antiquewhite;
}

.generate-container {
  background-color: rgba(196, 193, 66, 0.815);
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 7px;
}

.generate-container > button {
  background-color: rgb(129, 40, 40);
  color: antiquewhite;
  height: 40px;
  margin-top: 25px;
  border-radius: 10px;
  border: none;
}

@media (max-width: 700px){
  .generate-container{
    display: flex;
    flex-direction: column;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
